@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Mohd {
    color: #403C3C;
  }
  
  .tags {
    background-color: #E73AF4;
    opacity: 70%;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 7px;
  }
  .tags:last-child {
    margin-right: 0;
  }
  .tags:nth-child(2) {
    background-color: #7BE6FE;
  }
  .tags:nth-child(3) {
    background-color: #904242;
    opacity: 80%
    ;
  }
}